.order-card {
  padding: 16px;
  .MuiGrid-container {
    padding: 16px;
  }
  .MuiDivider-root {
    margin: 0 16px;
  }
  &__item {
    .text-gray {
      color: gray;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &__price {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__footer {
    &__price {
      color: #ee4d2d;
      font-weight: 700 !important;
      padding-left: 8px;
    }
    .MuiButton-label {
      text-transform: capitalize;
    }
  }
}
