@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");
@import "./App.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Inter",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.cap {
  text-transform: capitalize !important;
}
.cursor-pointer {
  cursor: pointer;
}

:root {
  --primary: #2271b1;
  // --text-grey: #8d8d94;
  --text-grey: #7993b0;
  --item-selected: #032d7c;
  --page-bg-color: #f7f6fb;
  --card-active: #008fe2;
  // --border-grey: #d6e2f1;
  --border-grey: #dfe8f4;
}
