.circle-process {
    position: absolute;
    top: 200px;
    left: 400px;
}

.image {
	max-height: 10rem;
	width: 100%;
	height: auto;
}

#outlined-basic {
    padding: 14px;
}

#outlined-basic-label .MuiInputLabel-outlined {
    transform: translate(14px, 14px) scale(1);
}