.header-page{
    .page-name{
        font-weight: 600;
        font-size: 28px;
        
    }
    .border-underline{
        border-top: 4px solid var(--primary);
        width: 2.5rem;
        margin-top: -2px;
    }
}