.category {
  &__contents {
    // font-size: 13px;
    @media screen and (min-width: 1401px) {
      width: calc(100% / 5) !important;
    }
    @media screen and (max-width: 1400px) {
      width: calc(100% / 4) !important;
    }
    @media screen and (max-width: 1340px) {
      width: calc(100% / 4) !important;
    }
    @media screen and (max-width: 1025px) {
      width: calc(100% / 3) !important;
    }
    @media screen and (max-width: 900px) {
      width: calc(100% / 3) !important;
    }
    @media screen and (max-width: 568px) {
      width: calc(100% / 2) !important;
    }
    @media screen and (max-width: 468px) {
      width: calc(100% / 2) !important;
    }
  }
}
